/*========== Universal Selector ==========*/

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", Times, serif;
    background-color: #f7f7f7;
    color: #333;

    box-sizing: border-box;
}



/* ------------------------------
============  Header  =========== 
--------------------------------*/


.navBar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to bottom, rgb(107, 15, 228), rgb(49, 21, 209));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}

.navBarLogo{
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-family: "Google Sans";
  color: white;
}

.navBarLeftSec{
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.navBarSearch{
  width: 100%;
  padding: 15px;
  border: 2px solid rgb(116, 108, 233);
  box-shadow:  0 0 5px black;
}

.navBarSearch::placeholder{
  font-family: Poppins;
  font-size: 1rem;
}

.navBarRightSec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.navBarButtons{
  display: flex;
  gap: 20px;
  padding: 0 15px;
}

.navBarButton{
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 500;
  padding: 4px;
}

.navBarButton:hover{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.navBarRegister{
  color: white;
  font-size: 12px;
}


/* ------------------------------
============  Main  =========== 
--------------------------------*/

main{
  margin-top: 90px;
}


/* Hero Section */

.hero {
  padding: 60px 80px;
  display: flex;
  gap: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.heroLogin{
  flex: 1;
}

.heroLoginInput{
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow:  0 4px 9px rgba(0, 0, 0, 0.2);
}

.heroLoginInput::placeholder{
  font-family: Poppins;
  font-size: 0.9rem;
}


.heroArticle {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  flex: 3;
}

.heroArticleImageContainer {
  width: 65%;
  flex-shrink: 0;
  overflow: hidden;
}

.heroArticleImageContainer img {
  width: 100%;
  height: 100%;           
  object-fit: cover;      
}

.heroArticleData {

  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  padding-top: 30px;
  background: white;
}

.heroArticleHeader {
  font-family: "Google Sans", serif;   
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #111;
}

@media (max-width: 1000px){
  .heroArticle{
    flex-direction: column;
  }
  .heroArticleImageContainer{
    width: 100%;
  }
}

@media (max-width: 700px){
  .heroLogin{
    display: none;
  }
}


/* Featured Section */

.featured {
  padding: 60px;
}

.featuredGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 100px 60px;
}

.featuredContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
}

.featuredImageContainer img {
  width: 100%;
  height: 100%;           
  object-fit: cover;     
  border-radius: 8px; 
}

.featuredTitle{
  font-size: 1rem;
  font-family: "Google Sans";
  font-weight: normal;
  margin-bottom: 10px;
}
